<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="shopify_config_settings_view_form1" model="ir.ui.view">
            <field name="name">shopify.config.settings.view.form.inherit.event</field>
            <field name="model">res.config.settings</field>
            <field name="priority" eval="65"/>
            <field name="inherit_id" ref="base.res_config_settings_view_form"/>
            <field name="arch" type="xml">
                <xpath expr="//div[hasclass('settings')]" position="inside">
                    <div class="app_settings_block" data-string="Shopify" string="Shopify" data-key="Shopify">
                        <h2>Store</h2>
                        <div class="row mt16 o_settings_container" name="Shopify_setting_container">
                            <div class="col-12 col-lg-6 o_setting_box"
                                 id="manage_tracks">
                                <div class="o_setting_right_pane border-start-0">
                                    <div class="content-group">
                                        <div class="row mt8">
                                            <label class="col-lg-3" string="Store Name" for="store_name"/>
                                            <field name="store_name"/>
                                        </div>
                                        <div class="row mt8">
                                            <label class="col-lg-3" string="API Version" for="api_version"/>
                                            <field name="api_version"/>
                                        </div>
                                        <div class="row mt8">
                                            <label class="col-lg-3" string="Store URL" for="baseStoreURL"/>
                                            <field name="baseStoreURL"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 o_setting_box">
                                <div class="o_setting_right_pane border-start-0">
                                    <div class="content-group">
                                        <div class="row mt8">
                                            <label class="col-lg-3" string="Access Token" for="access_token"/>
                                            <field name="access_token"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </xpath>
            </field>
        </record>

        <record id="action_shopify_setting_configuration" model="ir.actions.act_window">
            <field name="name">Settings</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.config.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="context">{'module' : 'shopify'}</field>
        </record>

    </data>
</odoo>